.btn {
    margin: 0 5px;
    display: inline-block;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: #282c34;
    font-weight: 600;
    white-space: pre-line;
}

.btn:hover {
    transform: scale(120%);
}

.btn:active {
    transform: scale(130%);
}
.btn:disabled {
    opacity: 0.5;
    transform: none;
}